<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='pig.png') }}" type="image/png">
    <title>{% block title %}默认标题{% endblock %}</title>
    <!-- 引入公共的 CSS 文件 -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
</head>
<body>
    <!-- 导航栏 -->
    <nav>
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/about">关于我们</a></li>
            <li><a href="/contact">联系我们</a></li>
        </ul>
    </nav>
    <!-- 内容区域，子模板将填充具体内容 -->
    <main>
        {% block content %}
        <!-- 这里可以添加默认内容，若子模板未填充内容则显示 -->
        <p>这是默认内容。</p>
        {% endblock %}
    </main>
    <!-- 页脚 -->
    <footer>
        <p>&copy; 2025 版权所有</p>
    </footer>
    <!-- 引入公共的 JavaScript 文件 -->
    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
</body>
</html>